/* フォント */
.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zen-maru-gothic-medium {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.zen-maru-gothic-bold {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
}



/* ----- 全体の設定 ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Zen Maru Gothic",'Arial', sans-serif;
    background:rgb(245, 242, 237);
    overflow: auto;
    width: 3000px; /* キャンバスの幅を定義 */
    height:  3000px; /* キャンバスの高さを定義 */
    position: relative;
}

/* 検索ボックスとコントロールのスタイル */
.search-box {
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgba(0,0,0,0.7);
    padding: 10px;
    border-radius: 25px;
    border: 2px solid rgba(255,255,255,0.3);
    color: white;
    z-index: 1000;
    font-size: 0.9rem;
    outline: none;
    width: 200px;
    backdrop-filter: blur(10px);
}

.controls {
    position: fixed;
    top: 20px;
    left: 20px;
    background: rgba(0,0,0,0.7);
    padding: 15px;
    border-radius: 8px;
    color: white;
    font-size: 0.9rem;
    z-index: 1000;
}

/* ----- メインキャンバス ----- */
.infinite-canvas {
    position: relative;
    width: 100%;
    height: 100%;
    
}
/* 保護者の方へボタン */
.button_1{
    text-align: center;
    position: relative;
    z-index: 10;
    font-size: 1rem;
    display: flex;
    align-items: center;
    width: 200px;
    margin:0 auto;
    /* padding: 0.5em 1em; */
    border: none;
    border-radius: 30px;
    background-color: #219DDD;
    color: #fff;
    font-size: 1em;
filter: drop-shadow(0px 2px 4px #ccc);
    top: 41%;
    left: 11%;
    position: relative;


}
.button_1 p {
    margin: 0 auto  ;
    font-weight: 500;
    font-size: 1rem;
    color: #ffffff;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-right: 15px;
    z-index: 1;
    
}

.button_1 p:before, .button_1 p:after {
    display: inline-block;
    position: absolute;
    top: 45%;
    width: 20px;
    height: 3px;
    border-radius: 5px;
    background-color: #4a2e12;
    content: "";
}
.button_1 p:before {
    left: -30px;
    -webkit-transform: rotate( 50deg );
    transform: rotate( 50deg );
}
.button_1 p:after {
    right: -30px;
    -webkit-transform: rotate( -50deg );
    transform: rotate( -50deg );
}
.button_1 a {
    position: relative;
    /* justify-content: space-around; */
    align-items: center;
    /* margin: 0 auto; */
    width: 200px;
    padding: 0.5em 1em;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    background: #219DDD;
    filter: drop-shadow(0px 2px 4px #ccc);
    border-radius: 25px;
     /* margin:0 auto; */
     
}
.button_1 a:hover {
    transform: scale(1.05);
    background: #54bdf1;
}





/* ねこしるプラスボタン */
.button_solid2 {
    justify-content: center;
    text-align: center;
    position: relative;
    top: 36%;
    left: 11%;
    z-index: 10;
    font-size: 1rem;
    filter: drop-shadow(0px 2px 4px #ccc);
}
.button_solid2 p {
    margin: 0 auto  ;
    font-weight: 500;
    font-size: 1rem;
    color: #4a2e12;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-right: 15px;
    z-index: 1;
    
}
.button_solid2 p:before, .button_solid2 p:after {
    display: inline-block;
    position: absolute;
    top: 45%;
    width: 20px;
    height: 3px;
    border-radius: 5px;
    background-color: #4a2e12;
    content: "";
}
.button_solid2 p:before {
    left: -30px;
    -webkit-transform: rotate( 50deg );
    transform: rotate( 50deg );
}
.button_solid2 p:after {
    right: -30px;
    -webkit-transform: rotate( -50deg );
    transform: rotate( -50deg );
}
.button_solid2 a {
    position: relative;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* margin: 0 auto; */
    width: 200px;
    padding: 8px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    background: #FD7E00;
    filter: drop-shadow(0px 2px 4px #ccc);
    border-radius: 25px;
     margin:0 auto;
     
}
.button_solid2 a:hover {
    transform: scale(1.05);
    background: #ffa144;
}


/* プラスボタン */
/* .gray-huki{
    display: inline-block;
    position: relative;
    padding: 0 25px;
    color: #cccfd7;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1px;
}
.gray-huki:before {
    left: 0;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background-color: #d8dae1;
    content: "";
}
.gray-huki:after {
    right: 0;
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background-color: #d8dae1;
    content: "";
} */



/* ----- タイルそれぞれの基本スタイル ----- */
.tile {
    position: absolute;
    border-radius: 12px;
    border-width: 4px;
    border-style: solid ;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: all 0.3s ease;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* text-align: center; */
    color: rgb(0, 0, 0);
    box-shadow: 0 8px 32px rgba(0,0,0,0.1);
    padding: 15px; /* タイル内の余白 */
    box-sizing: border-box;
    position: relative; /* 子要素の配置基準 */
    overflow: hidden; /* 画像がはみ出さないようにする */
    box-shadow: 0 5px 10px  rgba(33, 82, 97, 0.472);
}

.tile:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 40px #00B1B0;
    z-index: 1;
}

.tile:active {
    transform: scale(0.95);
}

.tile-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2); /* アイコンの背景を半透明に */
}

/* ねこしるタイトル */
.top{
    background-color: rgb(245, 242, 237);
opacity: 1;
background-image: radial-gradient(rgb(255, 137, 11)1px, rgb(245, 242, 237) 1px);
background-size: 10px 10px;



    /* border: 8px solid rgb(255, 137, 11); */
    top: 44%;
    left: 39%;
    position: relative;
    width: 850px;
    height: 550px;
    z-index: 0;
    border-radius: 50px;
}
.title {
    top: -7%;
    right: 30%;
    margin-left: 16px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 8px;
    opacity: 0.9;
    /* 仮 */
    position:absolute;
    z-index: 2;
    
}

.tile-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    opacity: 0.9;
    /* 仮 */
    position: relative;
}

.tile-desc {
    font-size: 0.8rem;
    opacity: 0.7;
    line-height: 2.1;
}



/*------------------ タイル各設定---------------------- */
.type_logo{
    position: absolute;
    text-align: center;
    width:500px;
    /* ホバー時の動作を無効化 */
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    cursor: default !important;
    transition: none !important;
    padding: 0;
    z-index: 2;
}

.type-ex{
    position: absolute;

    line-height: 2.1;
    /* ホバー時の動作を無効化 */

    /* box-shadow: none !important; */
    cursor: default !important;
    transition: none !important;
    padding: 20px;

    top: 46%;
    left: 57%;
    backdrop-filter: none !important; 
    position: absolute;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 9%;
    box-shadow: 15px 15px #FD7E00;
  display: inline-block;
  color: #000000;
  z-index: 2;

}



.type-ex::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color:  rgb(0, 0, 0)transparent rgb(0, 0, 0)transparent ;
  translate: -100% -50%;
  
}

.type-ex::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-style: solid;
  border-width: 0 9px 9px 0;
  border-color: transparent #ffffff transparent transparent;
  translate:    100% calc(50% + 0.4px);
}



.type_logo:hover,.type-ex:hover{
    transform: none; /* 拡大を無効化 */
    box-shadow: none;
        box-shadow: 15px 15px #FD7E00;
}

.type_logo,.tile-title {
    /* HTMLから移動: フォント設定 */
    /* font-size: 3rem;  */
    font-weight: bold;
}

.type_logo .tile-desc {
    color: #4a4a4a;
    opacity: 1; /* descをはっきり表示 */
}

.top-img{
    width: 100%;
    z-index: -1;

}
.type_logo{
    top: 46%;
    left: 46%;
    width: 420px;
    height: 520px;
    background-color: #ffffff;
    position:absolute; 
}

/* キャプション */
.type-c{
    font-size: 10px;
    top: 56%;
    left: 43%;
    position: absolute;
        /* background: #ffffff; */
    /* border: 4px solid rgb(237, 133, 50) ; */
    border-radius: 20px;
        padding: 20px;
        z-index: 2;
}

.comment_box {
    padding: 20px;
    top: 49%;
    left: 43%;
    width: 200px;
    position: absolute;
    background: #ffffff;
    border: 4px solid rgb(0, 0, 0) ;
    border-radius: 20px;
        box-shadow: -15px 15px #FD7E00;
        z-index: 2;
}
.comment_box:after, .comment_box:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.comment_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
    border-width: 10px;
    margin-top: -10px;
}
.comment_box:before {
    border-color: rgba(0, 0, 0, 0);
    border-left-color: rgb(0, 0, 0) ;
    border-width: 16px;
    margin-top: -16px;
}

.type-1{
    left: 23%;  /* Random % */
    top: 70%;   /* Random % */
    width: 220px;
    height: 220px;
    background-color: #ffffff;

}


.type-shopping{
    left: 70%;  /* Random % */
    top: 10%;   /* Random % */
    width: 200px;
    height: 400px;
    background-color: #ffffff;

}
.type-0 { 
    left: 5%;
    top: 60%;
    width: 420px;
    height: 420px;
    background-color: #ffffff; 
    position: absolute; 
}

.type-3{
    left: 45%;
    top: 62%;
    width: 220px;
    height: 220px;
    background-color: #ffffff;
    position: absolute; 
}
.type-4{
    left: 58%;
    top: 80%;
    width: 320px;
    height: 320px;
    background-color: #ffffff;
    position: absolute; 
}

.type-5{
    left: 30%;
    top: 5%;
    width: 420px;
    height: 220px;
    background-color: #ffffff;
    position: absolute; 
}

.type-6{
    left: 55%;
    top: 25%;
    width: 420px;
    height: 220px;
    background-color: #ffffff;
    position: absolute; 
}

.type-7{
    left: 5%;
    top: 85%;
    width: 420px;
    height: 420px;
    background-color: #ffffff;
    position: absolute; 
}

.type-8{
    left: 75%;
    top: 50%;
    width: 200px;
    height: 400px;
    background-color: #ffffff;
    position: absolute; 
}

.type-9 { 
    left: 20%;
    top: 15%;
    width: 420px;
    height: 420px;
    background-color: #ffffff; 
    position: absolute;
}

.type-10 { 
    left: 86%;
    top: 30%;
    width: 220px;
    height: 220px;
    background-color: #ffffff; 
    position: absolute; 
    }

.type-11 {
    left: 40%;
    top: 84%;
    width: 420px;
    height: 220px;
    background-color: #ffffff;
    position: absolute; 
    padding: 0;

}

.type-12 { 
    left: 85%; 
    top: 45%; 
    width: 420px; 
    height: 420px; 
    background-color: #ffffff; 
    position: absolute; 
}
.type-13 { 
    left: 5%; 
    top: 45%; 
    width: 220px; 
    height: 220px; 
    background-color: #ffffff; 
    position: absolute; 
}
.type-14 { 
    left: 80%; 
    top: 65%; 
    width: 420px; 
    height: 220px; 
    background-color: #ffffff; 
    position: absolute; 
}
.type-15 { 
    left: 23%; 
    top: 50%; 
    width: 420px; 
    height: 420px; 
    background-color: #ffffff; 
    position: absolute; 
}
.type-16 { 
    left: 66%; 
    top: 5%; 
    width: 220px; 
    height: 220px; 
    background-color: #ffffff; 
    position: absolute; 
}
.type-17 { 
    left: 25%; 
    top: 65%; 
    width: 420px; 
    height: 220px; 
    background-color: #ffffff; 
    position: absolute; 
}
.type-18 { 
    left: 90%; 
    top: 8%; 
    width: 220px; 
    height: 220px; 
    background-color: #ffffff; 
    position: absolute; 
}

.type-19 { 
    left: 30%; 
    top: 30%; 
    width: 220px; 
    height: 220px; 
    background-color: #ffffff; 
    position: absolute; 
}
.type-20 { 
    left: 4%; 
    top: 7%; 
    width: 220px; 
    height: 220px; 
    background-color: #ffffff; 
    position: absolute; 
}
.type-21 { 
    left: 60%; 
    top: 90%; 
    width: 220px; 
    height: 220px; 
    background-color: #ffffff; 
    position: absolute; 
}
.type-22 { 
    left: 10%; 
    top: 30%; 
    width: 420px; 
    height: 420px; 
    background-color: #ffffff; 
    position: absolute;
}
.type-23 { 
    left: 60%; 
    top: 70%; 
    width: 420px; 
    height: 220px; 
    background-color: #ffffff; 
    position: absolute;
}
.type-24 { 
    left: 75%; 
    top: 35%; 
    width: 320px; 
    height: 320px; 
    background-color: #ffffff; 
    position: absolute; 
}
.type-25 { 
    left: 35%; 
    top: 15%; 
    width: 420px; 
    height: 220px; 
    background-color: #ffffff; 
    position: absolute; 
}
.type-26 { 
    left: 70%; 
    top: 10%; 
    width: 420px; 
    height: 420px; 
    background-color: #ffffff; 
    position: absolute;
}
.type-27 { 
    left: 15%; 
    top: 76%; 
    width: 220px; 
    height: 220px; 
    background-color: #ffffff; 
    position: absolute; 
}
.type-28 { 
    left: 50%; 
    top: 35%; 
    width: 420px; 
    height: 220px; 
    background-color: #ffffff; 
    position: absolute;
}
.type-29 { 
    left: 85%; 
    top: 18%; 
    width: 220px; 
    height: 220px; 
    background-color: #ffffff; 
    position: absolute; 
}
.type-30 { 
    left: 75%; 
    top: 80%; 
    width: 420px; 
    height: 420px; 
    background-color: #ffffff; 
    position: absolute; 
}


/* 標準タイル */

.type-entertainment{
    left: 50%;
    top: 18%;
    width: 250px;
    height: 250px;
    background-color: #c0b7b7;
    border-color: #667eea;
}
.title1{
    /* position: relative; 
    top: -20px; */
    position: absolute;
    /* top: 20px; */
    /* right: 50px; */
    font-size: 1.5rem;
}
.desc1{
    position:absolute;
    top: 40px;

}

/* タイル画像設定 */
.tile-image {
    position: absolute; /* タイルの内側 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1; /* コンテンツより下*/
}

.tile-icon,
.tile-title,
.tile-desc {
    position: relative;
    z-index: 2; /* 画像より上 */
}

.int_tile_image{            
    width: 47%;
    bottom:3%;
    left: 50%;
    position: absolute;
}

.int_tile_image2{            
    width: 20%;
    bottom:8%;
    left: 5%;
    position: absolute;
}

.int_tile_image3{            
    z-index:-1;
    width: 110%;
    position: absolute;
    top: 0; 
    left: 0;
}

/* 追加 */



/* ----- モーダル関連 ----- */
.modal {
    opacity: 0;
    transition: opacity 0.3s ease;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.473);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    
}


.m-n{
        background: rgb(245, 242, 237);
    margin-top: 25px; 
    margin-bottom: 25px; 
    padding: 50px ; 
    border-radius: 30px; 
    
    color: rgb(0, 0, 0); 

    max-width: 450px; 
    width: 90%;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25); 
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
    overflow-y: auto;
    max-height: 85vh;    

  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
}
 /*Google Chrome、Safariへの対応*/
.contents_box::-webkit-scrollbar{
  display: none;

}

.modal-content img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0px auto 25px auto; 
    border-radius: 15px;
    position: relative; 
    z-index: 1;
}

.modal-content h3{
    margin-bottom: 4%;
    text-align: center;
  font-weight:bold;
  border-bottom: dotted 3px #53535372;
  /* margin: 0 auto 50px; */
  padding: 0 0 5px 0;
}

.modal.active {
    display: flex;
    opacity: 1;
}

.modal.active .modal-content {
    transform: scale(1);
}

.close-btn {
    top: 40px; 
    right: 64px;

    position: absolute;

    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
z-index: 2010;
}

.close-btn:hover {
    opacity: 1;
}



/* ----- ミニマップ関連 ----- */



.minimap {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 15vw; 
    height: 15vw; 
    min-width: 150px;
    min-height: 150px;
    background: rgba(0,0,0,0.7);
    border-radius: 8px;
    border: 2px solid rgba(255,255,255,0.3);
    z-index: 1000;
}

.minimap-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.minimap-dot {
    position: absolute;
    width: 3px;
    height: 3px;
    background: #4ecdc4;
    border-radius: 50%;
    box-shadow: 0 0 6px #4ecdc4;
    z-index: 10; 
}

.minimap-viewport {
    position: absolute;
    border: 2px solid #ff6b6b;
    background: rgba(255, 107, 107, 0.1);
    box-shadow: 0 0 10px #ff6b6b;
    width: 50px;
    height: 35px;
     z-index: 5;
}

/* メディアクエリ（レスポンシブデザイン） */
@media (max-width: 768px) {
    .controls {
        font-size: 0.8rem;
        padding: 10px;
    }
    /* .minimap {
        width: 150px;
        height: 120px;
    } */
}



/* 仮追加 */
.tile-image01,.tile_image2,.tile_image3,.tile-image4,.tile-image5,.tile-image6,
.tile-image7,.tile-image8,.tile-image9,.tile-image10,.tile-image11,.tile-image12,.tile-image13,
.tile-image14,.tile-image15,.tile-image16,.tile-image17,.tile-image18,.tile-image19,.tile-image20,
.tile-image21,.tile-image22,.tile-image23,.tile-image24,.tile-image25,.tile-image26,.tile-image27,
.tile-image28,.tile-image29,.tile-image30,.tile-image31,.tile-image32,.tile-image33,.tile-image34,.tile-image35 ,.tile-image36
,.tile-image37,.tile-image38,.tile-image39,.tile-image40{
    position: absolute;
    border-radius: 5%;
    opacity: 0.7;
    z-index: 0;
}

.tile-image01{
    position: absolute;
    top: 83%;
    right: 67%;
    width: 9%;
    border-radius: 5%;
}

.tile-image2{
    position: absolute;
    top: 65%;
    right:50%;
    width: 13%;
    border-radius: 5%;
}

.tile-image3{
    position: absolute;
    top: 90%;
    right:90%;
    width: 8%;
    border-radius: 5%;
}

.tile-image4{
    position: absolute;
    top: 64%;
    right:35%;
    width: 12%;
    border-radius: 5%;
}
.tile-image5{
    position: absolute;
    top: 66%;
    right:30%;
    width: 8%;
    border-radius: 8%;
}
.tile-image6{
    position: absolute;
    top: 77%;
    right:55%;
    width: 12%;
    border-radius: 5%;
}
.tile-image7{
    position: absolute;
    top: 70%;
    right:32%;
    width: 12%;
    border-radius: 5%;
}
.tile-image8{
    position: absolute;
    top: 70%;
    right:47%;
    width: 15%;
    border-radius: 5%;
}
.tile-image9{
    position: absolute;
    top: 28%;
    right:47%;
    width: 15%;
    border-radius: 5%;
}
.tile-image10{
    position: absolute;
    top: 28%;
    right:52%;
    width: 18%;
    border-radius: 5%;
}
.tile-image11{
    position: absolute;
    top: 36%;
    right:52%;
    width: 16%;
    border-radius: 5%;
}
.tile-image12{
    top: 16%;
    right:67%;
    width: 12%;
}
.tile-image13{
    top: 5%;
    right:66%;
    width: 18%;
}
.tile-image14{
    top: 12%;
    right:81%;
    width: 15%;
}
.tile-image15{
    top: 21%;
    right:80%;
    width: 18%;
}
.tile-image16{
    top: 46%;
    right:80%;
    width: 16%;
}
.tile-image17{
    top: 50%;
    right:74%;
    width: 16%;
}
.tile-image18{
    top: 76%;
    right:74%;
    width: 14%;
}
.tile-image19{
    top: 83%;
    right:85%;
    width: 10%;
}
.tile-image20{
    top: 87%;
    right:74%;
    width: 20%;
}
.tile-image21{
    top: 87%;
    right:50%;
    width: 20%;
}
.tile-image22{
    top: 92%;
    right:50%;
    width: 6%;
}
.tile-image23{
    top: 70%;
    right:64%;
    width: 16%;
}
.tile-image24{
    top: 64%;
    right:59%;
    width: 20%;
}
.tile-image25{
    top: 72%;
    right:19%;
    width: 20%;
}
.tile-image26{
    top: 52%;
    right:19%;
    width: 10%;
}
.tile-image27{
    top: 50%;
    right:6%;
    width: 18%;
}
.tile-image28{
    top: 9%;
    right:0%;
    width: 15%;
}
.tile-image29{
    top: 1%;
    right:1%;
    width: 18%;
}
.tile-image30{
    top: 2%;
    right:20%;
    width: 28%;
}
.tile-image31{
    top: 25%;
    right:14%;
    width: 20%;
}

.tile-image32{
    top: 40%;
    right:24%;
    width: 8%;
}
.tile-image33{
    top: 44%;
    right:17%;
    width: 18%;
}
.tile-image34{
    top: 42%;
    right:1%;
    width: 14%;
}
.tile-image35{
    top: 20%;
    right:0%;
    width: 17%;
}
.tile-image36{
    top: 55%;
    right:11%;
    width: 21%;
}
.tile-image37{
    top: 93%;
    right:24%;
    width: 11%;
}
.tile-image38{
    top: 74%;
    right:10%;
    width: 11%;
}
.tile-image39{
    top: 74%;
    right:5%;
    width: 6%;
}
.tile-image39{
    top: 4%;
    right:20%;
    width: 10%;
}
.tile-image40{
    top: 20%;
    right:37%;
    width: 10%;
}
